MODEL_NAME=qwen-plus
OPENAI_API_KEY=sk-xx-xxx 
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
BOCHA_API_KEY = sk-xx-xxx

PORT = 3001

QDRANT_COLLECTION_FILE=resume
QDRANT_COLLECTION_GITHUB=github
EMBEDDING_MODEL = text-embedding-v4
QDRANT_URL=https://xx-xxx.sa-east-1-0.aws.cloud.qdrant.io
QDRANT_API_KEY=xx-xxx
# 是否启用Clerk登录
CLERK_AUTH_ENABLED=false
CLERK_SECRET_KEY = sk_xx-xxx